Vaillant_decode
Basewave_extract
Manchester_decode
Images/Vaillant-Thermostat-AM-868.287MHz-Wave2a-Zoom_Repeat_Annotated.xcf
Images/Vaillant-Thermostat-AM-868.287MHz-Wave2a-Zoom_Repeat_Annotated.kra
Vaillant_decode_bitstuff
Others/
